@import "../variables.scss";

.card__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #faebd7;
    gap: 1rem;
    grid-row: auto;
    grid-column: 1 / span 12;
    padding: 0.7rem;
    width: 25rem;
    max-width: 30rem;

    button {
        background-color: $RifleGreen;
        color: #fff;
        border: none;
        outline: none;
        padding: 0.5rem;
        font-size: 1.2rem;
        width: 80%;
        align-self: center;
        &:hover {
            cursor: pointer;
        }
    }
}

.img__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    img {
        object-fit: cover;
        object-position: center;
    }
    figcaption {
        font-size: 1.5rem;
        text-align: center;
    }
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 0.9rem;
    p:nth-child(1) {
        padding: 0.5rem;
        background-color: #050d00;
        color: #fff;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        color: #004503;
        font-size: 1.5rem;
    }
}
.localisation {
    font-size: 1.5rem;
}

@media screen and (min-width: 480px) {
    .card__container {
        width: 30rem;
        grid-column: initial;
        button {
            font-size: 1.8rem;
        }
    }
    .description {
        p {
            font-size: 1.8rem;
        }
        a {
            font-size: 1.8rem;
        }
    }
    .img__container {
        figcaption {
            font-size: 1.8rem;
        }
    }
    .localisation {
        font-size: 1.8rem;
    }
}
