.title__container {
    grid-row: 1;
    text-align: center;
    grid-column: 1 / span 12;
    h2 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.5rem;
    }
    @media screen and (min-width: 480px) {
        grid-column: initial;
    }
}
